In [34]:
import pandas as pd

import os
import sys

sys.path.append("/media/jt/data/Projects/MSSM/micromegas_5.2.7.a/MSSM/")
from pymicromegas import MicromegasSettings, SugraParameters
from softsusy import softsusy
from spheno import spheno
from suspect import suspect

data_dir = "/media/jt/data/Projects/MSSM/data/Hollingsworth"
sys.path.append(data_dir)
from read_dataset import import_data

In [38]:
dataset = "cMSSM"
df = import_data(os.path.join(data_dir, dataset), dataset.lower())
df = df[df['sgnmu'] == 1]
sugras = df[["m0", "m12", "a0", "tanb", "sgnmu"]]
sugras.head()

/media/jt/data/Projects/MSSM/data/Hollingsworth/read_dataset.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f['chg2'][np.where(np.isnan(f['chg2']))[0]]=-1

         m0      m12         a0      tanb  sgnmu
1   9158.45  8913.25 -14770.200  40.66630      1
6   2444.81  5380.57  -5795.430  47.02380      1
9   1009.03  2161.45    519.776  20.93200      1
12  6485.62  5081.95 -25410.700   6.11012      1
13  7546.16  2196.69  14552.000   7.97283      1

In [39]:
settings = MicromegasSettings(
    relic_density=True,
    masses=True,
    gmuon=True,
    bsg=True,
    bsmumu=True,
    btaunu=True,
    delta_rho=True,
    sort_odd=True,
    fast=False,
    beps=0.0001,
    cut=0.01,
)

In [40]:
# Run with default settings
batch = sugras.head(3).apply(lambda x: SugraParameters(*x), axis=1).to_list()

softsusy_results = softsusy(batch, settings=settings)
spheno_results = spheno(batch, settings=settings)
suspect_results = suspect(batch, settings=settings)

9158.45 8913.25 -14770.2 40.6663 1.0
2444.81 5380.57 -5795.43 47.0238 1.0
1009.03 2161.45 519.776 20.932 1.0

In [41]:
softsusy_results.omega(), spheno_results.omega(), suspect_results.omega()

([369.332466513291, 0.05496208172020224, 11.283581996477213],
 [379.9147179993665, 0.18557607553724723, 11.239855366020794],
 [367.75035007410395, 0.0844701783351231, 11.096896118851525])

In [55]:
softsusy_results?

Type:        MicromegasResults
String form: <pymicromegas.MicromegasResults object at 0x7fba2f1a3e30>
File:        /media/jt/data/Projects/MSSM/micromegas_5.2.7.a/MSSM/pymicromegas.cpython-38-x86_64-linux-gnu.so
Docstring:   <no docstring>

In [ ]:
percentile_list = pd.DataFrame(
    {'lst1Title': lst1,
     'lst2Title': lst2,
     'lst3Title': lst3
    })

In [66]:
def results_to_df(res):
    columns = [
        "omega",
        "xf",
        "bsgsm",
        "bsgnlo",
        "deltarho",
        "bsmumu",
        "btaunu",
        "gmuon",
        "msne",
        "msnm",
        "msel",
        "mser",
        "msml",
        "msmr",
        "msdl",
        "msdr",
        "msul",
        "msur",
        "mssl",
        "mssr",
        "mscl",
        "mscr",
        "msnl",
        "msl1",
        "msl2",
        "msb1",
        "msb2",
        "mst1",
        "mst2",
        "mg",
        "mneut1",
        "mneut2",
        "mneut3",
        "mneut4",
        "mchg1",
        "mchg2",
        "mhsm",
        "mh",
        "mhc",
    ]
    res_dict = {}
    for key in columns:
        values = getattr(res, key)()
        repeated_val_idx = len(values) // len(res.omega())
        res_dict[key] = values[::repeated_val_idx]

    res_df = pd.DataFrame(res_dict)
    return res_df

In [67]:
softsusy_results.msne()[::2]

[10729.7494, 4223.96751, 1731.99831]

In [70]:
results_to_df(spheno_results)

,omega,xf,bsgsm,bsgnlo,deltarho,bsmumu,btaunu,gmuon,msne,msnm,...,mg,mneut1,mneut2,mneut3,mneut4,mchg1,mchg2,mhsm,mh,mhc
0,379.914718,19.674710,0.000329,0.000329,1.183703e-06,3.078594e-09,0.999209,5.545784e-12,10727.48450,10723.21380,...,17228.18820,4225.055310,7595.06816,10107.18850,10108.32440,7595.05180,10108.17910,128.802394,10147.68340,10147.83850
1,0.185576,25.721773,0.000329,0.000328,3.709000e-07,3.215497e-09,0.995147,2.893842e-11,4223.37772,4221.40109,...,10542.92180,2476.753130,4509.11692,5911.89339,5914.03255,4509.08508,5914.32578,126.651092,4682.62720,4683.71378
2,11.239855,21.823816,0.000329,0.000330,1.296610e-06,3.065620e-09,0.996780,7.955484e-11,1731.32769,1731.24741,...,4495.67042,953.772018,1769.08502,2127.35759,2136.63098,1769.14807,2136.78988,122.002653,2574.75106,2576.34753

In [ ]:
results.omega()
results.xf()
results.bsgsm()
results.bsgnlo()
results.deltarho()
results.bsmumu()
results.btaunu()
results.gmuon()
results.msne()
results.msnm()
results.msel()
results.mser()
results.msml()
results.msmr()
results.msdl()
results.msdr()
results.msul()
results.msur()
results.mssl()
results.mssr()
results.mscl()
results.mscr()
results.msnl()
results.msl1()
results.msl2()
results.msb1()
results.msb2()
results.mst1()
results.mst2()
results.mg()
results.mneut1()
results.mneut2()
results.mneut3()
results.mneut4()
results.mchg1()
results.mchg2()
results.mhsm()
results.mh()
results.mhc()

In [103]:
df

,m0,m12,a0,tanb,sgnmu,omega,g2,bsg,bsgSM,btanu,...,mdR,msR,mbR,tanbmz,neut1,neut2,neut3,neut4,chg1,chg2
1,9158.45,8913.25,-14770.200,40.66630,1,-1.00000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.00,-1.00,-1.00,-1.00000,-1.000,-1.00,-1.00,-1.00,-1.00,-1.00
6,2444.81,5380.57,-5795.430,47.02380,1,0.08443,2.862790e-11,0.000326,2.344140e-310,0.992152,...,9142.26,9141.89,8163.77,47.02380,2469.010,4493.36,5674.79,5677.31,4493.52,5677.62
9,1009.03,2161.45,519.776,20.93200,1,10.77760,8.146990e-11,0.000327,2.365610e-310,0.996219,...,3940.76,3940.72,3867.56,20.93200,949.636,1761.07,2042.95,2054.56,1761.22,2054.66
12,6485.62,5081.95,-25410.700,6.11012,1,-1.00000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.00,-1.00,-1.00,-1.00000,-1.000,-1.00,-1.00,-1.00,-1.00,-1.00
13,7546.16,2196.69,14552.000,7.97283,1,419.30800,4.011840e-12,0.000327,2.367500e-310,0.999950,...,8353.98,8353.96,8293.98,7.97283,981.994,1840.85,3597.50,3599.65,1841.01,3599.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,7830.01,6750.77,25591.100,41.45520,1,-1.00000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.00,-1.00,-1.00,-1.00000,-1.000,-1.00,-1.00,-1.00,-1.00,-1.00
9993,4608.31,8888.23,14400.300,43.82480,1,1.55813,1.188010e-11,0.000327,2.348560e-310,0.996293,...,14696.80,14696.20,14109.80,43.82480,4125.210,5706.13,5707.62,7409.80,5706.03,7409.96
9995,5672.19,6388.72,-26462.700,35.52670,1,-1.00000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.00,-1.00,-1.00,-1.00000,-1.000,-1.00,-1.00,-1.00,-1.00,-1.00
9998,5898.04,2131.64,20318.900,49.49100,1,-1.00000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.00,-1.00,-1.00,-1.00000,-1.000,-1.00,-1.00,-1.00,-1.00,-1.00
9999,7010.88,5499.39,25745.700,31.11490,1,191.46600,9.141090e-12,0.000327,2.327630e-310,0.999201,...,11324.70,11324.40,10361.20,31.11490,2514.810,4583.69,6997.81,6999.07,4583.85,6999.39

In [102]:
p = SugraParameters(2344.51 , 9989.96, -22390.10 , 25.57520, 1)
r = softsusy(p, settings=settings)

RuntimeError: softSusySUGRA() errored with -1

In [101]:
r.omega()

[nan]

In [86]:
df.head(10).clip(-2500, 1500)

,m0,m12,a0,tanb,sgnmu,omega,g2,bsg,bsgSM,btanu,...,mdR,msR,mbR,tanbmz,neut1,neut2,neut3,neut4,chg1,chg2
1,1500.0000,1500.00,-2500.000,40.66630,1,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.0,-1.0,-1.00,-1.00000,-1.000,-1.00,-1.000,-1.00,-1.000,-1.00
6,1500.0000,1500.00,-2500.000,47.02380,1,0.084430,2.862790e-11,0.000326,2.344140e-310,0.992152,...,1500.0,1500.0,1500.00,47.02380,1500.000,1500.00,1500.000,1500.00,1500.000,1500.00
9,1009.0300,1500.00,519.776,20.93200,1,10.777600,8.146990e-11,0.000327,2.365610e-310,0.996219,...,1500.0,1500.0,1500.00,20.93200,949.636,1500.00,1500.000,1500.00,1500.000,1500.00
12,1500.0000,1500.00,-2500.000,6.11012,1,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.0,-1.0,-1.00,-1.00000,-1.000,-1.00,-1.000,-1.00,-1.000,-1.00
13,1500.0000,1500.00,1500.000,7.97283,1,419.308000,4.011840e-12,0.000327,2.367500e-310,0.999950,...,1500.0,1500.0,1500.00,7.97283,981.994,1500.00,1500.000,1500.00,1500.000,1500.00
14,1500.0000,1500.00,-2500.000,22.45400,1,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.0,-1.0,-1.00,-1.00000,-1.000,-1.00,-1.000,-1.00,-1.000,-1.00
15,66.8668,780.51,-203.682,31.83880,1,0.006261,1.269360e-09,0.000303,2.328200e-310,0.935399,...,1500.0,1500.0,1448.15,31.83880,327.010,619.65,930.859,940.15,619.786,940.76
17,1500.0000,1500.00,-2500.000,7.15378,1,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.0,-1.0,-1.00,-1.00000,-1.000,-1.00,-1.000,-1.00,-1.000,-1.00
18,1500.0000,1500.00,1500.000,31.53800,1,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.0,-1.0,-1.00,-1.00000,-1.000,-1.00,-1.000,-1.00,-1.000,-1.00
21,1500.0000,1500.00,1500.000,13.99410,1,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-1.000000,...,-1.0,-1.0,-1.00,-1.00000,-1.000,-1.00,-1.000,-1.00,-1.000,-1.00